body {
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 40px;
    color: lightblue;
}

nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px dashed navy;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: royalblue;
    margin: 30px;
}

.container {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.text {
    width: 300px;
}
.right {
    text-align: right;
}

.text p.hover{
    color: navy;
    font-size: 45px;
}

.text .right:hover{
    color: darkorange;
}
